*{

    margin: 0;
    padding: 0;
  
  
  }
  
  .main{
  margin:45px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  
  



  }
  .form{
    display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
    background-color: blue;
    padding: 62px;
    margin: 8px;
    
  }
  input{
    margin:8px;
    padding: 12px;
    padding-left: 50px;
    
  }
  button{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
  }

  
